body {
    color: white;
    background-color: #E0EAFF;
}

.header {
    width: 100%;
    display: inline-flex;
    background-color: #2E294E;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
}

.left-header {
    display: flex;
    padding: 10px;
}

.right-header {
    padding: 10px;
    display: flex;
    list-style: none;
}

.right-header li {
    padding: 10px;
}

.nav-text {
    color: #1B99FF;
}

.rant-list {
    color: black;
    margin-top: 100px;
}

#first-rant {
    display: inline-flex;
    justify-content: space-between;
}

#first-rant h4 {
    margin: 0;
}

