.content {
    text-align: center;
    position: relative;
    top: 100px;
}

.header a {
    color: cadetblue;
}

.header a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: lightcoral;
}

.content a {
    color: blue;
}

.content a:hover {
    text-decoration: underline;
    color: cadetblue;
    cursor: pointer;
}